

html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}


table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-spacing: 0;
}

td {
	border: thin solid #7f9db9;
	padding-left: 3px;
}


td.Open{
	background:white;color:black	
}

td.Finished{
	background:lightgrey;color:black	

}

td.Shipped{
	color:black;
	background-color: #00FF66;
}

td.Received{
	color:black;
	background-color:#00FFFF
}

td.Cancelled{
	color:black;
	background-color: #CCC;
}

td.Resubmit{
	color:black;
	background-color:#FF00FF;
}




td.Pending{
	background:white;
	color:#FFFFFF
}


td.Finished{
	color:black;
	background-color: #00FF66;
}

td.PlanDate{
	color:black;
	background-color: #FF3;
}


td.Issue {
	color: #FFFFFF;
	background-color: #FF0000;	
}










th {
	border: thin double #7f9db9;
}


form {
	font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

.menuBar {
	background-color: #CCCCCC;
}

td.revisionStyleZero{
	
}

td.revisionStyleOne {
	font-weight: bold;
	color: #0033FF;
}

td.revisionStyleTwo {
	font-weight: bold;
	color: #FF9900;
}
td.revisionStyleThree {
	font-weight: bold;
	color: #FF0000;
}

p.recentRecord
{
	font-weight:bolder;
}

p.warning
{
	font-weight:bold;
	color:#F00;
}
/*div#tbl-container {
width: 100%;
height: 500px;
overflow: auto;
scrollbar-base-color:#FFCC00;

}

table {
width: 1000px;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
border-collapse: collapse;
background-color: WhiteSmoke;
}


div#tbl-container table th {
width: 1000px;
}

thead th, thead th.locked	{
width:100%;
font-size: 12px;
font-weight: bold;
text-align: center;
background-color: navy;
color: white;
border-right: 1px solid silver;
position:relative;
cursor: default; 
}

th.link	{
width:100%;
font-size: 12px;
font-weight: bold;
text-align: center;
background-color: WhiteSmoke;
color: white;
border-right: 1px solid silver;
position:relative;
cursor: default; 
}
	
thead th {
top: expression(document.getElementById("tbl-container").scrollTop-2); 
z-index: 20;
}

thead th.locked {z-index: 30;}

td.locked,  th.locked{
background-color:white;
font-weight: bold;
border-right: 1px solid silver;
left: expression(parentNode.parentNode.parentNode.parentNode.scrollLeft);
position: relative;
z-index: 10;
}



*/

.selected
{
	font-weight:bold
}